dust3r/croco/habitat-sim-data/versioned_data/habitat_test_scenes/apartment_1.glb
dust3r/croco/habitat-sim-data/versioned_data/habitat_test_scenes/skokloster-castle.glb
dust3r/croco/habitat-sim-data/versioned_data/habitat_test_scenes/van-gogh-room.glb
dust3r/croco/habitat-sim-data/versioned_data/habitat_test_scenes/van-gogh-room.mesh.ply
